<div class="container" data-controller="order-form">
  <%= simple_form_for @order do |f| %>
    <div class="container">
      <div class="row flex-center">
        <div class="col-10 flex-left button-margin-vertical">
          <%= link_to 'Wróć do listy zamówień', orders_path, class: 'btn btn-link button-margin-vertical' %>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-6 flex-column-center input form-container">
          <div class="mb-4">
            <h4>Składanie nowego zamówienia</h4>
          </div>
          <%= f.error :product_orders, class: 'border border-2 border-danger text-danger margin-normal small-padding' %>
          <% @order.product_orders&.each_with_index do |product_order, i| %>
            <%= f.simple_fields_for :product_orders, product_order do |po| %>
              <div id="<%= "po_#{i}" %>" class="mb-4 flex-column full-width">
                <div class="mb-4 flex-left full-width">
                  <div class="small-margin-lr">
                    <label for="exampleFormControlInput1" class="form-label">Wybierz produkt</label>
                    <%= po.input :product_id, as: :select, selected: product_order.product_id || '', collection: @products, input_html: { class: 'dark-input' }, label: false %>
                  </div>
                  <div>
                    <label for="exampleFormControlInput1" class="form-label">Podaj ilość</label>
                    <%= po.input :quantity, as: :integer, input_html: { class: 'dark-input' }, label: false %>
                  </div>
                  <% if i > 0 %>
                    <div class="small-margin-lr">
                      <div class="btn btn-secondary" data-action="click->order-form#removeAssociations" value="<%= i %>">
                        -
                      </div>
                      <%= po.input :_destroy, id: "destroy_#{i}", as: :hidden %>
                    </div>
                  <% end %>
                </div>
                <% if @order.try(:errors).try(:messages).present? %>
                  <div class="text-danger">
                    <% @order.errors.messages[:"product_order_#{product_order.product.name}"].each do |error| %>
                      <div class="flex-center error mb-4">
                        <%= error %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <templete data-order-form-target="template" class="hidden">
            <%= f.simple_fields_for :product_orders, ProductOrder.new, child_index: 'TEMPLATE_FIELD' do |po| %>
              <div id="po_TEMPLATE_FIELD" class="mb-4 flex-column full-width">
                <div class="mb-4 flex-left full-width">
                  <div class="small-margin-lr">
                    <%= po.input :product_id, as: :select, collection: @products, input_html: { class: 'dark-input' }, label: false %>
                  </div>
                  <div>
                    <%= po.input :quantity, as: :integer, input_html: { class: 'dark-input' }, label: false %>
                  </div>
                  <div class="small-margin-lr">
                    <div class="btn btn-secondary" data-action="click->order-form#removeAssociations" value="TEMPLATE_FIELD">
                      -
                    </div>
                    <%= po.input :_destroy, id: "destroy_TEMPLATE_FIELD", as: :hidden %>
                  </div>
                </div>
              </div>
            <% end %>
          </templete>
          <div>
            <div class="btn btn-light button-margin-vertical" data-action="click->order-form#addAssociation">
              Dodaj produkt
            </div>
          </div>
          <div class="mb-4">
            <%= f.submit 'Zamów', class: 'btn btn-secondary button-margin-vertical' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>